@import url('./card.css');
@import url('./badge.css');

.all-doc-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-text
{
    font-size: 1rem;
    text-align: center;
    margin: auto;
}